.footer-menu {
    margin: auto;
    background-color: black;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 450px;
}

.footer_inner {
    align-items: center;
    display: flex;
}

.logo {
    top: 60px;
    position: relative;
    width: 110px;
    height: 100px;
    display: inline;
    left: 160px;
}

.upper_menu {
    color: #fff;
    margin-left: 180px;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.upper_menu>ul>li {
    height: 60px;
    display: inline-block;
    text-align: center;
margin-right: 30px;
font-size: 14px;
}

.left_menu {
    position: relative;
    padding-left: 120px;
    font-size: 14px;
}

.left_menu>ul>li {
border-left: 30px;
list-style-type: none;
color: white;
margin-top: 13px;
}

.email {
text-decoration: underline;
}
